{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "nacos-operator.serviceAccountName" . }}
  labels:
    {{- include "nacos-operator.labels" . | nindent 4 }}
  {{- with .Values.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "nacos-operator.fullname" . }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "nacos-operator.fullname" . }}
subjects:
  - kind: ServiceAccount
    name: {{ include "nacos-operator.fullname" . }}
    namespace: {{ .Release.Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "nacos-operator.fullname" . }}
rules:
  - apiGroups:
      - nacos.io
    resources:
      - nacos
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - nacos.io
    resources:
      - nacos/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - ""
      - apps
    resources:
      - configmaps
      - statefulsets
      - pods
      - services
      - events
    verbs:
      - get
      - create
      - update
      - patch
      - list
      - watch

{{- end }}
