{{- if and .Values.persistence.enabled .Values.global.storageClass.provisioner .Values.persistence.storageClassName -}}
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
   name: {{ .Values.persistence.storageClassName }}
provisioner:
{{ toYaml .Values.global.storageClass.provisioner | indent 2 }}
parameters:
{{ toYaml .Values.persistence.classParameters | indent 2 }}
{{- end }}
