{{- if ne .Values.global.mode "quickstart" }}
apiVersion: v1
kind: ReplicationController
metadata:
  name: mysql-
  labels:
    name: mysql
  {{- if .Values.mysql.annotations }}
  annotations:
{{ toYaml .Values.mysql.annotations | indent 4 }}
  {{- end }}
spec:
  replicas: 1
  selector:
    name: mysql
  template:
    metadata:
      labels:
        name: mysql
    spec:
      containers:
        - name: mysql
          image: "{{ .Values.mysql.image.repository }}:{{ .Values.mysql.image.tag }}"
          imagePullPolicy: {{ .Values.mysql.image.pullPolicy }}
          ports:
            - name: mysql
              containerPort: 3306
              protocol: TCP
          volumeMounts:
          - name: mysql-data
            mountPath: /var/lib/mysql
          env:
          - name: MYSQL_ROOT_PASSWORD
            value: {{ .Values.mysql.rootPassword | quote }}
          - name: MYSQL_DATABASE
            value: {{ .Values.mysql.database | quote }}
          - name: MYSQL_USER
            value: {{ .Values.mysql.user | quote }}
          - name: MYSQL_PASSWORD
            value: {{ .Values.mysql.password | quote }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- if not .Values.mysql.persistence.enabled }}
      volumes:
      - name: mysql-data
        emptyDir: {}
      {{- else if .Values.mysql.persistence.existingClaim }}
      volumes:
      - name: mysql-data
        persistentVolumeClaim:
          claimName: {{ .Values.mysql.persistence.existingClaim }}
      {{- end }}
      {{- if and .Values.mysql.persistence.enabled (not .Values.mysql.persistence.existingClaim) }}
      volumes:
      - name: mysql-data
        persistentVolumeClaim:
          claimName: {{ .Values.mysql.persistence.claim}}
      {{- end}}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
{{- end }}
